{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "vnetAddressPrefix": {
      "value": "x.x.x.x/x"
    },
    "subnetAddressPrefix": {
      "value": "x.x.x.x/x"
    },
    "trustedIP": {
        "value": "x.x.x.x"
    },
    "maintenancePassword": {
      "value": "xxxxxx"
    },
    "jwtSecret": {
      "value": "xxxxx"
    }
  }
}